@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.container{
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.hero{
  background-image: url('https://www.akamai.com/site/en/images/hero-images/2023/hero-blue-green-wave.png?impolicy=mid-quality-image&imwidth=720%20720w');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.btn {
  --color: #acd7ac;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;}
  
 .btn:hover {
  color: #272424;
 }
 
.btn:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
.btn:hover:before {
  top: -30px;
  left: -30px;
 }
 
.btn:active:before {
  background: #3a0ca3;
  transition: background 0s;
 }




 .btns {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.btns span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: .6s ease;
}

.btns span:nth-child(6) {
  position: relative;
}

.btns span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.btns span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.btns span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.btns span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.btns span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.btns:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}